<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a note</title>
</head>
<style>

    body {
        background-color: #E0FFFF;
    }

    .save-button {
        background-color: #4682B4;
        color: white;
        border-radius: 10px;
        padding: 5px 10px;
    }

</style>
<body>
<h1>Create note:</h1>

<form th:action="@{'/note/create'}" method="post">
  <h2>Title:</h2>
  <input type="text" name="title" th:value="${note.title}"/>
  <h2>Content:</h2>
  <textarea name="content" rows="4" cols="50" th:text="${note.content}"></textarea>
  <button type="submit" class="save-button">Save note</button>
</form>


</body>
</html>